// @import "*";

h1, h3 {
  text-align: center;
  color: #001f3f;
}

body {
  background-image: url(http://www.beulahland.us/picts/background-news.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #001f3f;
}
